<section class="footer d-flex justify-content-around align-items-center text-light text-center p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <p class="fs-2 text-uppercase pt-5">LOCATION
                    </p>
                    <p>
                        2215 John Daniel Drive
                    </p>
                    <p>Clark, MO 65243</p>

                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <p class="fs-2 text-uppercase pt-5 m-0">AROUND THE WEB
                    </p>
                    <div class="social-icons">
                        <a href="https://facebook.com" target="_blank" class="icon mx-1">
                            <fa-icon [icon]="faFacebook" class="fs-6"></fa-icon>
                        </a>
                        <a href="https://twitter.com" target="_blank" class="icon mx-1">
                            <fa-icon [icon]="faTwitter" class="fs-6"></fa-icon>
                        </a>
                        <a href="https://linkedin.com" target="_blank" class="icon mx-1">
                            <fa-icon [icon]="faLinkedin" class="fs-6"></fa-icon>
                        </a>
                        <a href="https://yourwebsite.com" target="_blank" class="icon mx-1">
                            <fa-icon [icon]="faNetworkWired" class="fs-6"></fa-icon>
                        </a>
                      </div>

                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <p class="fs-2 text-uppercase pt-5">ABOUT FREELANCER

                    </p>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>


                </div>
            </div>
        </div>
    </div>
   
</section>
<section class="footer-bottom p-3 text-center">
    <p class="fs-6 text-light">Copyright © Your Website 2021</p>
</section>