<nav class="navbar navbar-expand-lg navbar-light text-light text-center sticky-top">
  <div class="d-flex  align-items-center w-100 me-4">
    <a class="navbar-brand text-light h1 text-uppercase ms-5 p-3 fs-2" routerLink="/home">Start Framework</a>
    <button class="navbar-toggler ms-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item p-3 text-uppercase fw-bold mx-1">
        <a class="nav-link" routerLink="/about" routerLinkActive="nav-active">About</a>
      </li>
      <li class="nav-item p-3 text-uppercase fw-bold mx-1">
        <a class="nav-link" routerLink="/portfolio" routerLinkActive="nav-active">Portfolio</a>
      </li>
      <li class="nav-item p-3 text-uppercase fw-bold mx-1">
        <a class="nav-link" routerLink="/contact" routerLinkActive="nav-active">Contact</a>
      </li>
    </ul>
  </div>
</nav>



  <!-- <nav class="navbar  navbar-expand-lg navbar-light justify-content-between text-light px-5 text-center sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand text-light h1 text-uppercase mx-5 p-3 fs-2 ms-35" routerLink="/home">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
        <ul class="me-5 ">
          <li class="p-3 text-uppercase fw-bold mx-1 "><a routerLink="/about" routerLinkActive="nav-active">about</a></li>
          <li class="p-3 text-uppercase fw-bold mx-1 "><a routerLink="/portfolio" routerLinkActive="nav-active">portfolio</a></li>
          <li class="p-3 text-uppercase fw-bold mx-1 "><a routerLink="/contact" routerLinkActive="nav-active">contact</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
