<section class="contact d-flex justify-content-center align-items-center flex-column">
    <p class="h1 text-uppercase fs-1 fw-bold my-4 ">conatct section</p>
    <app-star  [black]="true"></app-star>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <form class="w-50">

            <div class="mb-5">
              
              <input type="email" class="form-control" id="user" aria-describedby="userHelp" placeholder="userName">
        
            </div>
        
            <div class="mb-5">
              
              <input type="email" class="form-control" id="age" aria-describedby="ageHelp" placeholder="userAge">
        
            </div>
        
            <div class="mb-5">
        
              <input type="password" class="form-control" id="email"  aria-describedby="emailHelp" placeholder="userEmail">
        
            </div>
        
            <div class="mb-5">
        
              <input type="password" class="form-control" id="password"  placeholder="userPassword">
        
            </div>
            <button type="button" class="border-0 text-light p-2 rounded-3 mb-5">Send Message</button>
          </form>
    </div>
</section>
